@model CategoryDto
@{
	ViewData["Title"] = "Save";
}

<h1>Kategori Ekleme</h1>
<div class="row">
	<div class="col-md-4">
		<form asp-action="Save">
			<div asp-validation-summary="ModelOnly" class="text-danger">
				<div class="form-group">
					<label asp-for="Name" >Kategori İsmi:</label>
					<input asp-for="Name" class="form-control" />
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
				<div class="form-group">
					<input type="submit" value="Ekle" class="btn btn-primary" />
				</div>
			</div>
		</form>
	</div>
</div>